footer{
   background-color: #e4dfdf;
 }
footer .fbottom{
   padding: 60px 60px;
   display: flex;
   color: #fff;
 }
footer .left {
  margin-left: 80px;
 }
footer .left h4 {
 
  font-size: 40px;
  margin-bottom: 25px;
 }
footer .left h4 a {
   
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 126px;
  height: 50px;
  display: inline-block;
 }
footer .left ul.fnb{
}
footer .left ul.fnb li{
  
}
footer .left ul.fnb li a{
  
}
footer .left ul.fnb li:nth-child(1) a{
  
}
footer .left ul.fnb li:nth-child(2) a{
  
  margin-left: 20px;
}
footer .left address{
  
  line-height: 2;
}
footer .left address span.line{
  display: inline-block;
}
footer .left address span.block{
  /*! display: block; */
}